@page "/cadastrar-cinema"
@inject CinemaAPI cinemaAPI
@inject ISnackbar Snackbar
@inject NavigationManager navigationManager
<h3>CadastrarCinema</h3>
<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro de Cinema</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Cinema"
                      Variant="Variant.Outlined"
                      @bind-Value="nome"
                      Required="true"
                      RequiredError="Campo obrigatório." />

       @*  <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." /> *@

        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Cadastrar"
                       Color="Color.Primary"
                       Class="ml-auto">
                Cadastrar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>

@code {
    private string? nome;

    private async Task Cadastrar()
    {
        var request = new CinemaRequest(nome!);
        await cinemaAPI.AddCinemasAsync(request);
        Snackbar.Add("Cinema cadastrado com sucesso!", Severity.Success);
        await Task.Delay(1000);
        navigationManager.NavigateTo("/cinemas");
    }

}
